SHOPIFY_APP_NAME=Kartik's store
SHOPIFY_WEBHOOK_SECRET=replace_with_shopify_app_secret
ODOO_BASE_URL=http://127.0.0.1:8069
ODOO_INSTANCE_ID=1
ODOO_WEBHOOK_URL=http://127.0.0.1:8069/shopify/webhook/1
PORT=3010
